*{
  font-family: 'Courier New', Courier, monospace;
}

.container{
  height: 200px;
  width: 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons{
  display: flex;
  justify-content: space-between;
  width: 250px;
}